*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}



.box{
    width:200px;
    height:200px;
    background-color: cadetblue;

    /* transition-property: background-color border;
    transition-duration: 2s;
    transition-delay: 1s; */
    /* transition-timing-function: steps(4); */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease-out; */
    transition:all 1s 0.5s linear;
}

.box{
    background-color: coral;

    /* transform:translate(100px,50px); */
    /* transform:scaleX(2);
    transform:scaleY(2); */
    transform :translateX(100px);
}