
@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-placement($direction:row,$justify:flex-start,$align:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}