$primaryColour:#3aafa9;
$secondaryColour: #2b7a78;
$ctaColour: #17252a;
$primaryBackground: #def2f1;
$secondaryBackground: #feffff;
$fontSize: 2rem;
$radius:10px;
$ctaPadding:10px;
$borderRadius:40px;