.container{
    background-color: black;
    width:80vw;
    margin:0px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
    height:50vw;
}

/* jutify==move along main axis
align==move along cross axis */


.item1{
    width: 100px;
    height: 100px;
    margin:10px;
    background-color: teal;
    align-self: flex-start;
}

.item2{
    width: 100px;
    height: 100px;
    margin:10px;
    background-color: teal;
    align-self: flex-start;
}

.container :nth-child(odd){
    align-self: flex-start;
}

.container:nth-child(even){
    align-self: flex-start;
}